* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 1.7s ease;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #42033c;
}

p{
    color: #230221;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

h1{
    text-align: center;
    font-size: 50px;
    color: rgb(219, 198, 225);
    -webkit-text-stroke: 0.5px rgb(44, 5, 34);
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-image: url("/C:/Users/PRACHI/Desktop/bg.jpg");
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

button {
    height: 70px;
    width: 70px;
    border: 0;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(238, 197, 238);
    font-size: 25px;
    cursor: pointer;
    transition: all 100ms ease;
}

button:hover {
    transform: scale(1.1);
    background-color: #aa5aa7;
}

button#equal {
    height: 140px;
}

#display {
    margin: 170px;
    height: auto;
    width: auto;
    max-width: 330px;
    font-size: 40px;
    margin-bottom: 10px;
    background-color: #ecd8ec;
    padding: 10px;
    border-radius: 5px;    
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 50px #000;
    
}
